## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,yellowknife,CA,66.56,broken clouds,62.4560,-114.3525,The Explorer Hotel
1,5,east london,ZA,75.61,clear sky,-33.0153,27.9116,Tu Casa
2,6,hilo,US,91.27,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,10,castro,BR,65.32,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
4,11,rikitea,PF,69.24,overcast clouds,-23.1203,-134.9692,People ThankYou

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "yellowknife"]
vacation_end = vacation_df.loc[vacation_df['City'] == "yellowknife"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'castro']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'rikitea']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'east london']
vacation_stops = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]

In [16]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,yellowknife,CA,66.56,broken clouds,62.456,-114.3525,The Explorer Hotel

In [17]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,10,castro,BR,65.32,broken clouds,-24.7911,-50.0119,CHACARA BAILLY

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]

print(start)
print(end)
print(stop1)
print(stop2)

(62.456, -114.3525)
(62.456, -114.3525)
(-24.7911, -50.0119)
(-23.1203, -134.9692)

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}

fig = gmaps.figure(layout=figure_layout)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
print(fig)

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='600px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(vacation_stops,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,yellowknife,CA,66.56,broken clouds,62.4560,-114.3525,The Explorer Hotel
1,10,castro,BR,65.32,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
2,11,rikitea,PF,69.24,overcast clouds,-23.1203,-134.9692,People ThankYou
3,5,east london,ZA,75.61,clear sky,-33.0153,27.9116,Tu Casa

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}
fig = gmaps.figure(layout=figure_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
print(fig)

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='600px'))